# Database (Neon PostgreSQL)
# Get this from Neon Dashboard (postgresql://...)
DATABASE_URL=postgresql://neondb_owner:npg_AHvjL6gpK8hD@ep-still-art-a4wgo2je-pooler.us-east-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require

# Authentication
# Same secret used by both frontend (Better Auth) and backend (FastAPI)
JWT_SECRET=053c3ddfa4f9382ad27e7ba1b7bf6f85d8c4e58627bbf1cb62b13d16a708008a

# API Configuration
NEXT_PUBLIC_API_URL=http://localhost:8000
